* {
  margin: 0;
  padding: 0
}
body {
  background-color: #ececec;
}
ul {
  list-style: none;
}
.color-item {
  position: relative;
  width: 160px;
  height: 140px;
  background-color: rgba(255, 255, 255, 0.65);
  float: left;
  margin: 10px;
  border-radius: 4px;
}
.color-item::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 160px;
  height: 140px;
  background-color: #19d464;
  filter: blur(1px);
  float: left;
  border-radius: 4px;
  z-index: -1;
}
.color-pane {
  height: 40px;
}
.color-name {
  text-align: center;
  border-bottom: 1px dashed rgb(123, 23, 184);
}
.color-str {
  text-align: center;
}
